<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mySuite">
  <test thread-count="5" name="myTest001">
    <classes>
      <class name="com.webservice.testscripts.LmfTC001">
      <methods>
      <exclude name="getUserByIDDP"></exclude>
       <exclude name=".getUserDetailById"></exclude>
       <exclude name="verifyUserById"></exclude>
      </methods>
      </class>
    </classes>
  </test> <!-- myTest001 -->
</suite> <!-- mySuite -->
